*{
    margin: 0%;
    font-family:Arial;
    border: border-box;
    border: 2px white;
}

.navbar{
    height: 60px;
    background-color: #0F1111;
    color: white;
    display: flex;
    align-items: center;
    justify-content:space-between
}
.navlogo{
    height: 60px;
    width: 100px;
    margin: 20px;
}
.logo{
    background-image:url("pics/ama.jpg") ;
    background-size: cover;
    height: 50px;
    width: 100%;
}
/* box 2 */
.type{
    display: flex;
    align-items: center;
}
.type-text{
    width: 400px;
    height: 30px;
    font-size: 1.2rem;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
.icon{
    height: 30px;
    width: 40px;
    background-color: #ff9900;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #0F1111;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    font-size: 1.2rem;
}
/*box3 */
span{
    font-size: 0.7rem;
}
.log{
    font-size: 0.85rem;
}

/*box4 */
span{
    font-size: 0.7rem;
}
.track{
    font-size: 0.85rem;
}
/* box 5 */
.cart{
    display: flex;
    font-size: 0.85rem;
    align-items: baseline;
    margin-right: 20px;
}
.cart i{
    font-size: 2rem;
}
/* 2nd line */
.panel{
    height: 40px;
    background-color: rgb(29, 31, 35);
    display:flex;
    color: white;
    justify-content: space-evenly;
    align-items: center;
}
.bars{
    font-size: 1.30rem;
}
.tags{
    width: 70%;
    justify-content:space-between;
}
.tags p{
    display: inline;
    margin: 18px;
}
.nn{
    font-size: 1.30rem;
    font-weight: 500;
}
/* section */
.section{
    background-image: url("pics/books.jpg");
    background-size: cover;
    height: 500px;
    display: flex;
    align-items:flex-end;
    justify-content: center;
}
.msg{
    background-color:rgb(29, 31, 35);
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    font-size: 0.85rem;
    color: white;
    width: 90%;
    margin-bottom: 20px;
}
/* content */
.content{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: #bae0b7;
}
.box{
    height: 400px;
    width: 22%;
    /* border: 2px solid #0F1111; */
    background-color: white;
    
}
.box-img{
    height: 350px;
    background-size: cover;
}
.box-c{
    margin-left: 10px;
    margin-right: 10px;
}
.content p{
    display:flex;
    justify-content: center;
    color: #0F1111;
}
/* footer */
.panel1{
    background-color:rgb(29, 31, 35);
    color: white;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.panel1 a{
    color: white;
}
.panel2{
    background-color: #232f3e;
    display: flex;
    color: white;
    justify-content: center;
    height: 200px;
    justify-content:space-evenly;
}
.panel2 a{
    font-size: 0.85rem;
    display: flex;
    margin-top: 10px;
}
ul{
    margin-top: 10px;
}
.panel3{
    height: 70px;
    background-color: #232f3e;
    border: 0.5px white solid;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo{
    background-image:url("pics/ama.jpg");
    background-size: cover;
    height: 60px;
    width: 100px;
}
.panel4{
    background-color: #0F1111;
    size: 20px;
    color: white;
    margin-bottom: 20px;
}
.lastlinks{
    display: flex;
    justify-content: center;
    align-items: center;
}
.lastlinks a{
    margin-inline: 20px;
    font-size: 0.85rem;
}
.rights{
    font-size: 0.6rem;
    display: flex;
    justify-content: center;
}